<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<!--侧边栏-->
<nav class="navbar-default navbar-side" role="navigation" th:fragment="sidebar">
    <div class="sidebar-collapse">
        <ul class="nav" id="main-menu">
            <li>
                <div class="user-img-div">
                    <img th:src="${session.photo}" class="img-thumbnail" width="64px" height="auto" />

                    <div class="inner-text">
                        [[${session.loginUser}]]
                        <br />
                        <small>Last Login : <samll id="last-login-time">[[${session.lastLoginTime}]]</samll> </small>
                    </div>
                </div>

            </li>


            <li>
                <a id="Dashboard_a" th:href="@{/index}"><i class="fa fa-star-half-empty"></i>HomePage</a>
            </li>
            <!--
            <li>

                <a id="UI_Elements_a" th:href="@{#}"><i class="fa fa-desktop "></i>UI Elements <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a id="Tabs_Panels_a" th:href="@{/panel-tabs}"><i class="fa fa-toggle-on"></i>Tabs & Panels</a>
                    </li>
                    <li>
                        <a id="Notifications_a" th:href="@{/notification}"><i class="fa fa-bell "></i>Notifications</a>
                    </li>
                    <li>
                        <a id="Progressbars_a" th:href="@{/progress}"><i class="fa fa-circle-o "></i>Progressbars</a>
                    </li>
                    <li>
                        <a id="Buttons_a" th:href="@{/buttons}"><i class="fa fa-code "></i>Buttons</a>
                    </li>
                    <li>
                        <a id="Icons_a" th:href="@{/icons}"><i class="fa fa-bug "></i>Icons</a>
                    </li>
                    <li>
                        <a id="Wizard_a" th:href="@{/wizard}"><i class="fa fa-bug "></i>Wizard</a>
                    </li>
                    <li>
                        <a id="Typography_a" th:href="@{/typography}"><i class="fa fa-edit "></i>Typography</a>
                    </li>
                    <li>
                        <a id="Grid_a" th:href="@{/grid}"><i class="fa fa-eyedropper "></i>Grid</a>
                    </li>


                </ul>
            </li>
            -->
            <!--
            <li>
                <a id="Extra_Pages_a" th:href="@{#}"><i class="fa fa-yelp "></i>Extra Pages <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a id="Invoice_a" th:href="@{/invoice}"><i class="fa fa-coffee"></i>Invoice</a>
                    </li>
                    <li>
                        <a id="Pricing_a" th:href="@{/pricing}"><i class="fa fa-flash "></i>Pricing</a>
                    </li>
                    <li>
                        <a id="Components_a" th:href="@{/component}"><i class="fa fa-key "></i>Components</a>
                    </li>
                    <li>
                        <a id="Social_a" th:href="@{/social}"><i class="fa fa-send "></i>Social</a>
                    </li>

                    <li>
                        <a id="Messages_Tasks_a" th:href="@{/message-task}"><i class="fa fa-recycle "></i>Messages & Tasks</a>
                    </li>


                </ul>
            </li>
            -->
            <li>
                <a id="Data_Create_a" th:href="@{/rolecreate}"><i class="fa fa-pencil"></i>Role create</a>
            </li>
            <li>
                <a id="Data_Tables_a" th:href="@{/table}"><i class="fa fa-folder-o"></i>Your cards</a>
            </li>
            <li>
                <a id="Modify_UserInfo_a" th:href="@{/userInfo}"><i class="fa fa-table"></i>Your profile</a>
            </li>
            <li>
                <a id="Admin_a" th:href="@{/admin/userTable}"
                   th:if="${session.privilegeLevel}<=10"><i class="fa fa-tasks"></i>Admin</a>
            </li>
            <li>
                <a id="RoleBook_a"><i class="fa fa-book"></i>Role book <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a id="RoleBook_Chapter1" th:href="@{/roleBook/ch1}"><i class="fa fa-paragraph "></i>Chapter1-Introduction</a>
                    </li>
                    <li>
                        <a id="RoleBook_Chapter2" th:href="@{/roleBook/ch2}"><i class="fa fa-paragraph "></i>Chapter2-Love craft and the myth of ksuru</a>
                    </li>
                    <li>
                        <a id="RoleBook_Chapter3" th:href="@{/roleBook/ch3}"><i class="fa fa-paragraph "></i>Chapter3-Create Investigator</a>
                    </li>
                    <li>
                        <a id="RoleBook_Chapter4" th:href="@{/roleBook/ch4}"><i class="fa fa-paragraph "></i>Chapter4-Skills</a>
                    </li>
                    <li>
                        <a id="RoleBook_Chapter5" th:href="@{/roleBook/ch5}"><i class="fa fa-paragraph "></i>Chapter5-Game System</a>
                    </li>
                    <li>
                        <a id="RoleBook_Chapter6" th:href="@{/roleBook/ch6}"><i class="fa fa-paragraph "></i>Chapter6-Battle</a>
                    </li>
                    <li>
                        <a id="RoleBook_Chapter7" th:href="@{/roleBook/ch7}"><i class="fa fa-paragraph "></i>Chapter7-Chase</a>
                    </li>
                    <li>
                        <a id="RoleBook_Chapter8" th:href="@{/roleBook/ch8}"><i class="fa fa-paragraph "></i>Chapter8-Reason</a>
                    </li>
                    <li>
                        <a id="RoleBook_Chapter9" th:href="@{/roleBook/ch9}"><i class="fa fa-paragraph "></i>Chapter9-Wizardry</a>
                    </li>
                    <li>
                        <a id="RoleBook_Chapter10" th:href="@{/roleBook/ch10}"><i class="fa fa-paragraph "></i>Chapter10-Host the game</a>
                    </li>
                    <li>
                        <a id="RoleBook_Chapter11" th:href="@{/roleBook/ch11}"><i class="fa fa-paragraph "></i>Chapter11-Horror legend books</a>
                    </li>
                    <li>
                        <a id="RoleBook_Chapter12" th:href="@{/roleBook/ch12}"><i class="fa fa-paragraph "></i>Chapter12-Magic</a>
                    </li>
                    <li>
                        <a id="RoleBook_Chapter13" th:href="@{/roleBook/ch13}"><i class="fa fa-paragraph "></i>Chapter13-Alien technology and its creation</a>
                    </li>
                    <li>
                        <a id="RoleBook_Chapter14" th:href="@{/roleBook/ch14}"><i class="fa fa-paragraph "></i>Chapter14-Monsters, beasts and alien gods</a>
                    </li>
                    <li>
                        <a id="RoleBook_Chapter15" th:href="@{/roleBook/ch15}"><i class="fa fa-paragraph "></i>Chapter15-Modules</a>
                    </li>
                    <li>
                        <a id="RoleBook_Appendix1" th:href="@{/roleBook/appendix1}"><i class="fa fa-paragraph "></i>Appendix-1</a>
                    </li>
                    <li>
                        <a id="RoleBook_TranlateTable" th:href="@{/roleBook/translateTable}"><i class="fa fa-paragraph "></i>Translation table</a>
                    </li>
                    <li>
                        <a id="RoleBook_Download" th:href="@{/serverfs/file/roleBook.pdf}" download="克苏鲁的呼唤第七版规则书1907.pdf" ><i class="fa fa-download "></i>Download Entire book</a>
                    </li>
                </ul>
            </li>

        </ul>

    </div>

</nav>


</html>