<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<hr>
<!--all html elements can be replaced by thymeleaf-->
<div th:text="${msg}"></div>
<div th:utext="${msg}"></div>

<hr>
<h3 th:each="user:${users}" th:text="${user}"></h3>
<hr>
<h3 th:each="user:${users}">[[ ${user} ]]</h3>
<div>
    <a id="test">test your script</a>
</div>
<div>
    <label class="upload-button" for="uploadImg">上传文件</label>
    <form id="uploadImgFrom" enctype="multipart/form-data">
        <input id="uploadImg" name="icon" type="file" accept=".png,.jpg,.png" style="position:absolute;clip:rect(0 0 0 0);">
    </form>

</div>
<script th:src="@{/js/jquery-1.10.2.js}"></script>
</body>
<script type="text/javascript"></script>
<script>
    $("#test").click(function () {
        console.log("click");
        /*$.ajax({
            type: "GET",
            url: "/user/logon",
            data: "username=testLogon" +
                "&password=123456" +
                "&gender=0" +
                "&assignment=test for logon" +
                "&email=test@qq.com" +
                "&icon_path=NULL",
            //dataType: "json",//数据响应格式
            success: function (data) {
                console.log(data);
            },
            error: function (data) {
                console.log("Failed");
            }
        })*/

        $.ajax({
            type: "GET",
            url: "/user/logon/DuplicateUserName",
            data: "username=testLogon",
            //dataType: "json",//数据响应格式
            success: function (data) {
                console.log(data);
            },
            error: function (data) {
                console.log("Failed");
            }
        })
    })

    $("#uploadImg").change(function (e) {
        //console.log(e);
        //console.log(e.currentTarget.files[0].name);
        /*let suffix = e.currentTarget.files[0].name;
        suffix = suffix.substring(suffix.lastIndexOf('.'));
        let path = "test" + suffix;
        console.log(path);*/
        let img = new FormData(document.getElementById("uploadImgFrom"));
        //console.log(img);
        $.ajax({
            type:"post",
            data:img,
            url:"/user/uploadIcon",
            processData:false,
            contentType:false,
            success:function (data) {
                console.log("success");
            },
            error:function (data) {
                console.log("failed");
            }
        })
    })
</script>
</html>